.data-container {
  @include stack();

  background: $primary;
  border: 1px solid $primary-light;
	border-radius: 3px;
	margin: 0 15px;
	padding: 10px;
  position: relative;
  transition: box-shadow 250ms ease-in-out,
              height 250ms ease-in-out,
              transform 150ms ease;

  &:hover {
    .actions {
      display: inline-block;
    }
  }

  &.edit {
    background: $secondary;
    border-color: $secondary;
    box-shadow: 0px 0px 10px 0px $black;

    .actions {
      position: absolute;
      right: 10px;
      top: 0px;
    }
  }

  &__content-container {
    @include stack();

    position: relative;

    .button-delete {
      display: none;
    }

    &:hover {
      .button-delete {
        display: inline-block;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &__header {
    > h3 {
      display: inline-block;
      padding: 10px;
    }

    .actions {
      display: none;
      margin-left: 15px;
    }
  }

  &__content-row {
    @include stack-horizontal();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 25px;
  }

  &__content-row-left {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 25px;
  }

  &__content-row-flush {
    @include stack-horizontal();

    align-items: center;
    display: flex;
    flex-wrap: wrap;
  }
}

