.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;

  &.grow {
    flex-grow: 1;
  }

  .input {
    width: 100%;
  }

  label {
    display: block;
    font-size: small;
  }
}
