.notification-container {
  min-width: 40%;
  right: 10px;
  position: fixed;
  top: 0;
  z-index: 999;

  .notification {
    background: $off-white;
    border: 2px solid $secondary;
    border-radius: 5px;
    color: $white;
    display: flex;
    margin: 5px;
    padding: 20px;
    width: 100%;
  }
}
