.input {
  border: 0px;
  border-bottom: 1px solid $primary;
  padding: 5px 5px 2px;
  background: $secondary;
  color: $white;
  outline: 0px;

  &:focus {
    border-bottom: 1px solid $white;
  }
}
