$primary: #484343;
$primary-light: #635d5d;
$secondary: #333;
$accent: lightgreen;
$box-shadow: #202020;

$button-accent: lightblue;

$tag-background: darkcyan;

$white: #FFF;
$off-white: #a9a2a2;
$black: #000;
